@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr" class="h-100">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta property="og:title" content="" />
	<meta property="og:description" content="" />
	<meta property="og:image" content="" />
	<meta name="format-detection" content="telephone=no">
	<title></title>
	<link rel="shortcut icon" type="image/png" href="images/favicon.png" />
	<link href="~/Content/css/style.css" rel="stylesheet">
</head>
<body class="body  h-100" style="background-image: url('/Content/images/bg-1.jpg'); background-size:cover;">
	<div class="container h-100">
		<div class="row h-100 align-items-center justify-contain-center">
			<div class="col-xl-12 mt-3">
				<div class="card">
					<div class="card-body p-0">
						<div class="row m-0">
							<div class="col-xl-6 col-md-6 sign text-center">
								<div>
									<div class="text-center my-5">
										<a href="#"><img width="200" src="/Content/edusamanewlogo.png" alt=""></a>
									</div>
									<img src="/Content/edusamanewlogo.png" class="education-img"></img>
								</div>	
							</div>
							<div class="col-xl-6 col-md-6">
								<div class="sign-in-your">
									<h4 class="fs-20 font-w800 text-black">Hesabınızla Giriş Yapınız</h4>
									<div class="login-social">
										<a href="javascript:void(0);" class="btn font-w800 d-block my-4"><i class="fab fa-google me-2 text-primary"></i>Google ile Giriş Yap</a>
									</div>
									<form action="#">
										<div class="mb-3">
											<label class="mb-1"><strong>Email</strong></label>
											<input type="email" class="form-control" value="abc@xyz.com" required>
										</div>
										<div class="mb-3">
											<label class="mb-1"><strong>Parola</strong></label>
											<input type="password" class="form-control" required> 
										</div>
										<div class="row d-flex justify-content-between mt-4 mb-2">
											<div class="mb-3">
											   <div class="form-check custom-checkbox ms-1">
													<input type="checkbox" class="form-check-input" id="basic_checkbox_1">
													<label class="form-check-label" for="basic_checkbox_1">Beni Hatırla</label>
												</div>
											</div>
											<div class="mb-3">
												<a href="#">Şifremi Unuttum</a>
											</div>
										</div>
										<div class="text-center">
											<button type="submit" onclick="Alert()" class="btn btn-primary btn-block">Giriş Yap</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="~/Content/vendor/global/global.min.js"></script>
	<script src="~/Content/js/custom.js"></script>
	<script src="~/Content/js/dlabnav-init.js"></script>
	<script>function Alert(){alert("Email ya da parola yanlış");}</script>
</body>
</html>