@{
    ViewData["Title"] = "Materyaller Kategori Detayı";
    Layout = "~/Views/Shared/KutuphaneLayout.cshtml";

}

@section head{
    <link href="~/Content/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet" asp-append-version="true">
    <link href="~/Content/vendor/jquery-nice-select/css/nice-select.css" rel="stylesheet" asp-append-version="true">
    <link href="~/Content/vendor/select2/css/select2.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/Content/css/filepond.css" rel="stylesheet" asp-append-version="true" />
    <style>
        .col-form-label {
            font-size: 20px;
        }

        .select2-selection__rendered {
            line-height: 50px !important;
        }

        .select2-container .select2-selection--single {
            height: 50px !important;
        }

        .select2-selection__arrow {
            height: 50px !important;
        }

        .filepond--item-panel {
            background-color: #4fa93f;
        }
    </style>
}


<div class="row page-titles" id="myBreadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Kutuphane" asp-action="Kutuphane">Kütüphane</a></li>
        <li class="breadcrumb-item active"><a asp-controller="Kutuphane" asp-action="KategoriDetay">Materyaller Kategori Detayı</a></li>
    </ol>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>Materyal Dosyaları</h4>
                <div class="col-xl-4">
                    <div class="d-flex">
                        <h4 style="margin:auto;">Şube Seçiniz</h4>
                        <div class="col-xl-8">
                            <select class="default-select wide">
                                <option value="All" selected="selected">Tümünü Göster</option>
                                <option value="1">Mersin</option>
                                <option value="2">İzmir</option>
                                <option value="3">İstanbul</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="card-toolbar">
                    <a href="#dosyaEkleModal" data-bs-target="#dosyaEkleModal" data-bs-toggle="modal" class="btn btn-secondary font-weight-bolder">
                        <span class="svg-icon svg-icon-md">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                            </svg>
                        </span>Dosya Ekle
                    </a>
                    <a href="#" class="btn btn-danger font-weight-bolder">
                        <span class="svg-icon svg-icon-md">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-dash-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z" />
                            </svg>
                        </span>Sil
                    </a>
                    <a href="#" class="btn btn-dark font-weight-bolder">
                        <span class="svg-icon svg-icon-md">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer-fill" viewBox="0 0 16 16">
                                <path d="M5 1a2 2 0 0 0-2 2v1h10V3a2 2 0 0 0-2-2H5zm6 8H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1z" />
                                <path d="M0 7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2H2a2 2 0 0 1-2-2V7zm2.5 1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z" />
                            </svg>
                        </span>Yazdır
                    </a>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="dosyalarTable" class="display" style="min-width: 845px">
                        <thead>
                            <tr>
                                <th>
                                    <div class="form-check custom-checkbox ms-2">
                                        <input type="checkbox" class="form-check-input" id="checkAll" required="">
                                        <label class="form-check-label" for="checkAll"></label>
                                    </div>
                                </th>
                                <th>Patient ID</th>
                                <th>Date Check in</th>
                                <th>Patient Name</th>
                                <th>Doctor Assgined</th>
                                <th>Disease</th>
                                <th>Status</th>
                                <th>Room no</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="form-check custom-checkbox ms-2">
                                        <input type="checkbox" class="form-check-input" id="customCheckBox2" required="">
                                        <label class="form-check-label" for="customCheckBox2"></label>
                                    </div>
                                </td>
                                <td>#P-00001</td>
                                <td>26/02/2020, 12:42 AM</td>
                                <td>Tiger Nixon</td>
                                <td>Dr. Cedric</td>
                                <td>Cold & Flu</td>
                                <td>
                                    <span class="badge light badge-danger">
                                        <i class="fa fa-circle text-danger me-1"></i>
                                        New Patient
                                    </span>
                                </td>
                                <td>AB-001</td>
                                <td>
                                    <div class="dropdown ms-auto text-end">
                                        <div class="btn-link" data-bs-toggle="dropdown">
                                            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="5" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="19" cy="12" r="2"></circle></g></svg>
                                        </div>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item" href="#">Accept Patient</a>
                                            <a class="dropdown-item" href="#">Reject Order</a>
                                            <a class="dropdown-item" href="#">View Details</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check custom-checkbox ms-2">
                                        <input type="checkbox" class="form-check-input" id="customCheckBox3" required="">
                                        <label class="form-check-label" for="customCheckBox3"></label>
                                    </div>
                                </td>
                                <td>#P-00002</td>
                                <td>28/02/2020, 12:42 AM</td>
                                <td>Garrett Winters</td>
                                <td>Dr. Cedric</td>
                                <td>Sleep Problem</td>
                                <td>
                                    <span class="badge light badge-warning">
                                        <i class="fa fa-circle text-warning me-1"></i>
                                        In Treatment
                                    </span>
                                </td>
                                <td>AB-002</td>
                                <td>
                                    <div class="dropdown ms-auto text-end">
                                        <div class="btn-link" data-bs-toggle="dropdown">
                                            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="5" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="19" cy="12" r="2"></circle></g></svg>
                                        </div>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item" href="#">Accept Patient</a>
                                            <a class="dropdown-item" href="#">Reject Order</a>
                                            <a class="dropdown-item" href="#">View Details</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check custom-checkbox ms-2">
                                        <input type="checkbox" class="form-check-input" id="customCheckBox4" required="">
                                        <label class="form-check-label" for="customCheckBox4"></label>
                                    </div>
                                </td>
                                <td>#P-00003</td>
                                <td>26/02/2020, 12:42 AM</td>
                                <td>Ashton Cox</td>
                                <td>Dr. Rhona</td>
                                <td>Cold & Flu</td>
                                <td>
                                    <span class="badge light badge-success">
                                        <i class="fa fa-circle text-success me-1"></i>
                                        Recovered
                                    </span>
                                </td>
                                <td>AB-003</td>
                                <td>
                                    <div class="dropdown ms-auto text-end">
                                        <div class="btn-link" data-bs-toggle="dropdown">
                                            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="5" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="19" cy="12" r="2"></circle></g></svg>
                                        </div>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item" href="#">Accept Patient</a>
                                            <a class="dropdown-item" href="#">Reject Order</a>
                                            <a class="dropdown-item" href="#">View Details</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check custom-checkbox ms-2">
                                        <input type="checkbox" class="form-check-input" id="customCheckBox5" required="">
                                        <label class="form-check-label" for="customCheckBox5"></label>
                                    </div>
                                </td>
                                <td>#P-00004</td>
                                <td>29/02/2020, 12:42 AM</td>
                                <td>Ashton Cox</td>
                                <td>Dr. Cedric</td>
                                <td>Cold & Flu</td>
                                <td>
                                    <span class="badge light badge-warning">
                                        <i class="fa fa-circle text-warning me-1"></i>
                                        In Treatment
                                    </span>
                                </td>
                                <td>AB-004</td>
                                <td>
                                    <div class="dropdown ms-auto text-end">
                                        <div class="btn-link" data-bs-toggle="dropdown">
                                            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="5" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="19" cy="12" r="2"></circle></g></svg>
                                        </div>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item" href="#">Accept Patient</a>
                                            <a class="dropdown-item" href="#">Reject Order</a>
                                            <a class="dropdown-item" href="#">View Details</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check custom-checkbox ms-2">
                                        <input type="checkbox" class="form-check-input" id="customCheckBox6" required="">
                                        <label class="form-check-label" for="customCheckBox6"></label>
                                    </div>
                                </td>
                                <td>#P-00005</td>
                                <td>28/02/2020, 12:42 AM</td>
                                <td>Ashton Cox</td>
                                <td>Dr. Cedric</td>
                                <td>Cold & Flu</td>
                                <td>
                                    <span class="badge light badge-warning">
                                        <i class="fa fa-circle text-warning me-1"></i>
                                        In Treatment
                                    </span>
                                </td>
                                <td>AB-005</td>
                                <td>
                                    <div class="dropdown ms-auto text-end">
                                        <div class="btn-link" data-bs-toggle="dropdown">
                                            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="5" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="19" cy="12" r="2"></circle></g></svg>
                                        </div>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item" href="#">Accept Patient</a>
                                            <a class="dropdown-item" href="#">Reject Order</a>
                                            <a class="dropdown-item" href="#">View Details</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check custom-checkbox ms-2">
                                        <input type="checkbox" class="form-check-input" id="customCheckBox7" required="">
                                        <label class="form-check-label" for="customCheckBox7"></label>
                                    </div>
                                </td>
                                <td>#P-00006</td>
                                <td>28/02/2020, 12:42 AM</td>
                                <td>Ashton Cox</td>
                                <td>Dr. Rhona</td>
                                <td>Sleep Problem</td>
                                <td>
                                    <span class="badge light badge-warning">
                                        <i class="fa fa-circle text-warning me-1"></i>
                                        In Treatment
                                    </span>
                                </td>
                                <td>AB-006</td>
                                <td>
                                    <div class="dropdown ms-auto text-end">
                                        <div class="btn-link" data-bs-toggle="dropdown">
                                            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="5" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="19" cy="12" r="2"></circle></g></svg>
                                        </div>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item" href="#">Accept Patient</a>
                                            <a class="dropdown-item" href="#">Reject Order</a>
                                            <a class="dropdown-item" href="#">View Details</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check custom-checkbox ms-2">
                                        <input type="checkbox" class="form-check-input" id="customCheckBox8" required="">
                                        <label class="form-check-label" for="customCheckBox8"></label>
                                    </div>
                                </td>
                                <td>#P-00007</td>
                                <td>26/02/2020, 12:42 AM</td>
                                <td>Airi Satou</td>
                                <td>Dr. Rhona</td>
                                <td>Cold & Flu</td>
                                <td>
                                    <span class="badge light badge-danger">
                                        <i class="fa fa-circle text-danger me-1"></i>
                                        New Patient
                                    </span>
                                </td>
                                <td>AB-007</td>
                                <td>
                                    <div class="dropdown ms-auto text-end">
                                        <div class="btn-link" data-bs-toggle="dropdown">
                                            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="5" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="19" cy="12" r="2"></circle></g></svg>
                                        </div>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item" href="#">Accept Patient</a>
                                            <a class="dropdown-item" href="#">Reject Order</a>
                                            <a class="dropdown-item" href="#">View Details</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check custom-checkbox ms-2">
                                        <input type="checkbox" class="form-check-input" id="customCheckBox9" required="">
                                        <label class="form-check-label" for="customCheckBox9"></label>
                                    </div>
                                </td>
                                <td>#P-00008</td>
                                <td>29/02/2020, 12:42 AM</td>
                                <td>Airi Satou</td>
                                <td>Dr. Garrett </td>
                                <td>Sleep Problem</td>
                                <td>
                                    <span class="badge light badge-warning">
                                        <i class="fa fa-circle text-warning me-1"></i>
                                        In Treatment
                                    </span>
                                </td>
                                <td>AB-008</td>
                                <td>
                                    <div class="dropdown ms-auto text-end">
                                        <div class="btn-link" data-bs-toggle="dropdown">
                                            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="5" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="19" cy="12" r="2"></circle></g></svg>
                                        </div>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item" href="#">Accept Patient</a>
                                            <a class="dropdown-item" href="#">Reject Order</a>
                                            <a class="dropdown-item" href="#">View Details</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check custom-checkbox ms-2">
                                        <input type="checkbox" class="form-check-input" id="customCheckBox10" required="">
                                        <label class="form-check-label" for="customCheckBox10"></label>
                                    </div>
                                </td>
                                <td>#P-00009</td>
                                <td>25/02/2020, 12:42 AM</td>
                                <td>Airi Satou</td>
                                <td>Dr. Rhona</td>
                                <td>Cold & Flu</td>
                                <td>
                                    <span class="badge light badge-danger">
                                        <i class="fa fa-circle text-danger me-1"></i>
                                        New Patient
                                    </span>
                                </td>
                                <td>AB-009</td>
                                <td>
                                    <div class="dropdown ms-auto text-end">
                                        <div class="btn-link" data-bs-toggle="dropdown">
                                            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="5" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="19" cy="12" r="2"></circle></g></svg>
                                        </div>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item" href="#">Accept Patient</a>
                                            <a class="dropdown-item" href="#">Reject Order</a>
                                            <a class="dropdown-item" href="#">View Details</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check custom-checkbox ms-2">
                                        <input type="checkbox" class="form-check-input" id="customCheckBox11" required="">
                                        <label class="form-check-label" for="customCheckBox11"></label>
                                    </div>
                                </td>
                                <td>#P-00010</td>
                                <td>26/02/2020, 12:42 AM</td>
                                <td>Airi Satou</td>
                                <td>Dr. Rhona</td>
                                <td>Sleep Problem</td>
                                <td>
                                    <span class="badge light badge-danger">
                                        <i class="fa fa-circle text-danger me-1"></i>
                                        New Patient
                                    </span>
                                </td>
                                <td>AB-010</td>
                                <td>
                                    <div class="dropdown ms-auto text-end">
                                        <div class="btn-link" data-bs-toggle="dropdown">
                                            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="5" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="19" cy="12" r="2"></circle></g></svg>
                                        </div>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item" href="#">Accept Patient</a>
                                            <a class="dropdown-item" href="#">Reject Order</a>
                                            <a class="dropdown-item" href="#">View Details</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check custom-checkbox ms-2">
                                        <input type="checkbox" class="form-check-input" id="customCheckBox12" required="">
                                        <label class="form-check-label" for="customCheckBox12"></label>
                                    </div>
                                </td>
                                <td>#P-00011</td>
                                <td>28/02/2020, 12:42 AM</td>
                                <td>Airi Satou</td>
                                <td>Dr. Rhona</td>
                                <td>Cold & Flu</td>
                                <td>
                                    <span class="badge light badge-warning">
                                        <i class="fa fa-circle text-warning me-1"></i>
                                        In Treatment
                                    </span>
                                </td>
                                <td>AB-011</td>
                                <td>
                                    <div class="dropdown ms-auto text-end">
                                        <div class="btn-link" data-bs-toggle="dropdown">
                                            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="5" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="19" cy="12" r="2"></circle></g></svg>
                                        </div>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item" href="#">Accept Patient</a>
                                            <a class="dropdown-item" href="#">Reject Order</a>
                                            <a class="dropdown-item" href="#">View Details</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check custom-checkbox ms-2">
                                        <input type="checkbox" class="form-check-input" id="customCheckBox13" required="">
                                        <label class="form-check-label" for="customCheckBox13"></label>
                                    </div>
                                </td>
                                <td>#P-00012</td>
                                <td>29/02/2020, 12:42 AM</td>
                                <td>Sonya Frost</td>
                                <td>Dr. Garrett</td>
                                <td>Sleep Problem</td>
                                <td>
                                    <span class="badge light badge-danger">
                                        <i class="fa fa-circle text-danger me-1"></i>
                                        New Patient
                                    </span>
                                </td>
                                <td>AB-012</td>
                                <td>
                                    <div class="dropdown ms-auto text-end">
                                        <div class="btn-link" data-bs-toggle="dropdown">
                                            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="5" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="19" cy="12" r="2"></circle></g></svg>
                                        </div>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item" href="#">Accept Patient</a>
                                            <a class="dropdown-item" href="#">Reject Order</a>
                                            <a class="dropdown-item" href="#">View Details</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check custom-checkbox ms-2">
                                        <input type="checkbox" class="form-check-input" id="customCheckBox14" required="">
                                        <label class="form-check-label" for="customCheckBox14"></label>
                                    </div>
                                </td>
                                <td>#P-00013</td>
                                <td>25/02/2020, 12:42 AM</td>
                                <td>Sonya Frost</td>
                                <td>Dr. Rhona</td>
                                <td>Cold & Flu</td>
                                <td>
                                    <span class="badge light badge-danger">
                                        <i class="fa fa-circle text-danger me-1"></i>
                                        New Patient
                                    </span>
                                </td>
                                <td>AB-013</td>
                                <td>
                                    <div class="dropdown ms-auto text-end">
                                        <div class="btn-link" data-bs-toggle="dropdown">
                                            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="5" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="19" cy="12" r="2"></circle></g></svg>
                                        </div>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item" href="#">Accept Patient</a>
                                            <a class="dropdown-item" href="#">Reject Order</a>
                                            <a class="dropdown-item" href="#">View Details</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check custom-checkbox ms-2">
                                        <input type="checkbox" class="form-check-input" id="customCheckBox15" required="">
                                        <label class="form-check-label" for="customCheckBox15"></label>
                                    </div>
                                </td>
                                <td>#P-00014</td>
                                <td>26/02/2020, 12:42 AM</td>
                                <td>Sonya Frost</td>
                                <td>Dr. Garrett</td>
                                <td>Sleep Problem</td>
                                <td>
                                    <span class="badge light badge-warning">
                                        <i class="fa fa-circle text-warning me-1"></i>
                                        In Treatment
                                    </span>
                                </td>
                                <td>AB-014</td>
                                <td>
                                    <div class="dropdown ms-auto text-end">
                                        <div class="btn-link" data-bs-toggle="dropdown">
                                            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="5" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="19" cy="12" r="2"></circle></g></svg>
                                        </div>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item" href="#">Accept Patient</a>
                                            <a class="dropdown-item" href="#">Reject Order</a>
                                            <a class="dropdown-item" href="#">View Details</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check custom-checkbox ms-2">
                                        <input type="checkbox" class="form-check-input" id="customCheckBox16" required="">
                                        <label class="form-check-label" for="customCheckBox16"></label>
                                    </div>
                                </td>
                                <td>#P-00015</td>
                                <td>28/02/2020, 12:42 AM</td>
                                <td>Sonya Frost</td>
                                <td>Dr. Rhona</td>
                                <td>Cold & Flu</td>
                                <td>
                                    <span class="badge light badge-danger">
                                        <i class="fa fa-circle text-danger me-1"></i>
                                        New Patient
                                    </span>
                                </td>
                                <td>AB-015</td>
                                <td>
                                    <div class="dropdown ms-auto text-end">
                                        <div class="btn-link" data-bs-toggle="dropdown">
                                            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="5" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="19" cy="12" r="2"></circle></g></svg>
                                        </div>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item" href="#">Accept Patient</a>
                                            <a class="dropdown-item" href="#">Reject Order</a>
                                            <a class="dropdown-item" href="#">View Details</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check custom-checkbox ms-2">
                                        <input type="checkbox" class="form-check-input" id="customCheckBox17" required="">
                                        <label class="form-check-label" for="customCheckBox17"></label>
                                    </div>
                                </td>
                                <td>#P-00016</td>
                                <td>29/02/2020, 12:42 AM</td>
                                <td>Sonya Frost</td>
                                <td>Dr. Garrett</td>
                                <td>Sleep Problem</td>
                                <td>
                                    <span class="badge light badge-danger">
                                        <i class="fa fa-circle text-danger me-1"></i>
                                        New Patient
                                    </span>
                                </td>
                                <td>AB-016</td>
                                <td>
                                    <div class="dropdown ms-auto text-end">
                                        <div class="btn-link" data-bs-toggle="dropdown">
                                            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="5" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="19" cy="12" r="2"></circle></g></svg>
                                        </div>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item" href="#">Accept Patient</a>
                                            <a class="dropdown-item" href="#">Reject Order</a>
                                            <a class="dropdown-item" href="#">View Details</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check custom-checkbox ms-2">
                                        <input type="checkbox" class="form-check-input" id="customCheckBox18" required="">
                                        <label class="form-check-label" for="customCheckBox18"></label>
                                    </div>
                                </td>
                                <td>#P-00017</td>
                                <td>25/02/2020, 12:42 AM</td>
                                <td>Sonya Frost</td>
                                <td>Dr. Rhona</td>
                                <td>Cold & Flu</td>
                                <td>
                                    <span class="badge light badge-warning">
                                        <i class="fa fa-circle text-warning me-1"></i>
                                        In Treatment
                                    </span>
                                </td>
                                <td>AB-017</td>
                                <td>
                                    <div class="dropdown ms-auto text-end">
                                        <div class="btn-link" data-bs-toggle="dropdown">
                                            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="5" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="19" cy="12" r="2"></circle></g></svg>
                                        </div>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item" href="#">Accept Patient</a>
                                            <a class="dropdown-item" href="#">Reject Order</a>
                                            <a class="dropdown-item" href="#">View Details</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check custom-checkbox ms-2">
                                        <input type="checkbox" class="form-check-input" id="customCheckBox19" required="">
                                        <label class="form-check-label" for="customCheckBox19"></label>
                                    </div>
                                </td>
                                <td>#P-00018</td>
                                <td>26/02/2020, 12:42 AM</td>
                                <td>Sonya Frost</td>
                                <td>Dr. Rhona</td>
                                <td>Sleep Problem</td>
                                <td>
                                    <span class="badge light badge-danger">
                                        <i class="fa fa-circle text-danger me-1"></i>
                                        New Patient
                                    </span>
                                </td>
                                <td>AB-018</td>
                                <td>
                                    <div class="dropdown ms-auto text-end">
                                        <div class="btn-link" data-bs-toggle="dropdown">
                                            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="5" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="19" cy="12" r="2"></circle></g></svg>
                                        </div>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item" href="#">Accept Patient</a>
                                            <a class="dropdown-item" href="#">Reject Order</a>
                                            <a class="dropdown-item" href="#">View Details</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check custom-checkbox ms-2">
                                        <input type="checkbox" class="form-check-input" id="customCheckBox20" required="">
                                        <label class="form-check-label" for="customCheckBox20"></label>
                                    </div>
                                </td>
                                <td>#P-00019</td>
                                <td>28/02/2020, 12:42 AM</td>
                                <td>Sonya Frost</td>
                                <td>Dr. Rhona</td>
                                <td>Cold & Flu</td>
                                <td>
                                    <span class="badge light badge-danger">
                                        <i class="fa fa-circle text-danger me-1"></i>
                                        New Patient
                                    </span>
                                </td>
                                <td>AB-019</td>
                                <td>
                                    <div class="dropdown ms-auto text-end">
                                        <div class="btn-link" data-bs-toggle="dropdown">
                                            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="5" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="19" cy="12" r="2"></circle></g></svg>
                                        </div>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item" href="#">Accept Patient</a>
                                            <a class="dropdown-item" href="#">Reject Order</a>
                                            <a class="dropdown-item" href="#">View Details</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check custom-checkbox ms-2">
                                        <input type="checkbox" class="form-check-input" id="customCheckBox21" required="">
                                        <label class="form-check-label" for="customCheckBox21"></label>
                                    </div>
                                </td>
                                <td>#P-00020</td>
                                <td>25/02/2020, 12:42 AM</td>
                                <td>Sonya Frost</td>
                                <td>Dr. Garrett</td>
                                <td>Sleep Problem</td>
                                <td>
                                    <span class="badge light badge-warning">
                                        <i class="fa fa-circle text-warning me-1"></i>
                                        In Treatment
                                    </span>
                                </td>
                                <td>AB-020</td>
                                <td>
                                    <div class="dropdown ms-auto text-end">
                                        <div class="btn-link" data-bs-toggle="dropdown">
                                            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="5" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="19" cy="12" r="2"></circle></g></svg>
                                        </div>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item" href="#">Accept Patient</a>
                                            <a class="dropdown-item" href="#">Reject Order</a>
                                            <a class="dropdown-item" href="#">View Details</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" id="dosyaEkleModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Dosya Ekleme Penceresi</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>
            <div class="modal-body">
                <div class="basic-form">
                    <form id="dosyaEkleForm" enctype="multipart/form-data">
                        <div class="mb-3 row">
                            <label class="col-sm-3 col-form-label">TEST</label>
                            <div class="col-sm-9">
                                <input type="text" name="text" />
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-3 col-form-label">Dosya Yükleme Alanı</label>
                            <div class="col-sm-9">
                                <input type="file" class="my-pond" name="filepond" data-max-file-size="3MB" data-max-files="10" multiple />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">Dosyaları Yükle</button>
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Kapat</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Content/vendor/datatables/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script src="~/Content/vendor/jquery-nice-select/js/jquery.nice-select.min.js" asp-append-version="true"></script>
    <script src="~/Content/vendor/select2/js/select2.full.min.js" asp-append-version="true"></script>
    <script src="~/Content/js/filepond.js" asp-append-version="true"></script>

    <script>
        $(document).ready(function () {
            var mycrumb = $("#myBreadcrumb");
            $("#previousBreadcrumb").before(mycrumb);
            var table = $('#dosyalarTable').DataTable({
                searching: true,
                paging: true,
                select: false,
                info: false,
                lengthChange: false,
                language: {
                    paginate: {
                        next: '<i class="fa fa-angle-double-right" aria-hidden="true"></i>',
                        previous: '<i class="fa fa-angle-double-left" aria-hidden="true"></i>'
                    }
                }
            });

            //FilePond upload işlemleri
            pond = FilePond.create(
                document.querySelector('input[type="file"]'), {
                allowMultiple: true,
                instantUpload: false,
                allowProcess: false
            });
            $("#dosyaEkleForm").submit(function (e) {
                e.preventDefault();
                var fd = new FormData(this);
                pondFiles = pond.getFiles();
                for (var i = 0; i < pondFiles.length; i++) {
                    fd.append('filepond', pondFiles[i].file);
                }
                $.ajax({
                    url: '/Kutuphane/TestUpload',
                    type: 'POST',
                    data: fd,
                    dataType: 'JSON',
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function (data) {
                    },
                    error: function (data) {
                    }
                }
                );
            });
        });
    </script>
}