@{
    ViewData["Title"] = "Müdürler";

	Layout = "~/Views/Shared/KullaniciLayout.cshtml";

}

@section head{
	<link href="~/Content/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet" asp-append-version="true">
	<link href="~/Content/vendor/jquery-nice-select/css/nice-select.css" rel="stylesheet" asp-append-version="true">
	<link href="~/Content/vendor/select2/css/select2.min.css" rel="stylesheet" asp-append-version="true"/>
	<style>
		.col-form-label {
			font-size: 20px;
		}
		.select2-selection__rendered {
            line-height: 50px !important;
        }

        .select2-container .select2-selection--single {
            height: 50px !important;
        }

        .select2-selection__arrow {
            height: 50px !important;
        }


		.thh {
			text-align: center;
		}
   </style>
}

<div class="row page-titles" id="myBreadcrumb">
    <ol class="breadcrumb">
		<li class="breadcrumb-item"><a asp-controller="Kullanici" asp-action="Kullanicilar">Kullanıcılar</a></li>
		<li class="breadcrumb-item active"><a asp-controller="Kullanici" asp-action="Mudurler">Müdürler</a></li>
    </ol>
</div>
<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<div class="col-sm-6">
					<div style="display:flex;">
						<div class="col-sm-5">
							<select class="default-select wide">
								<option value="All" selected="selected">Şube Seçiniz</option>
								<option value="1">Mersin</option>
								<option value="2">İzmir</option>
								<option value="3">İstanbul</option>
							</select>
						</div>
					</div>
				</div>
				<div class="card-toolbar">
					<a href="#mudurEkleModal" data-bs-target="#mudurEkleModal" data-bs-toggle="modal" class="btn btn-secondary font-weight-bolder">
						<span class="svg-icon svg-icon-md">
							<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
								<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
							</svg>
						</span>Ekle
					</a>

					<a href="#" class="btn btn-dark font-weight-bolder">
						<span class="svg-icon svg-icon-md">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer-fill" viewBox="0 0 16 16">
								<path d="M5 1a2 2 0 0 0-2 2v1h10V3a2 2 0 0 0-2-2H5zm6 8H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1z" />
								<path d="M0 7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2H2a2 2 0 0 1-2-2V7zm2.5 1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z" />
							</svg>
						</span>Yazdır
					</a>
				</div>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table id="mudurlerTable" class="display" style="min-width: 845px">
						<thead>
							<tr>

								<th class="bas thh">Kullanıcı adı</th>
								<th class="thh">Oluşturulma Tarihi</th>
								<th class="thh">Şubesi</th>
								<th class="thh">E-Posta Adresi</th>
								<th class="thh">Durumu</th>

								<th class="thh" style="width:12rem">Aksiyon</th>
							</tr>
						</thead>
						<tbody>
							<tr class="odd">

								<td class="thh"><a href="#">Abdullah Köse</a></td>
								<td class="thh">02.06.2023</td>
								<td class="thh">Mersin</td>

								<td class="thh">Selcuk@gmail.com</td>
								<td class="thh">
									<span class="badge light badge-success " style="width:100px;">Aktif Kullanıcı</span>
									@*                                            <span class="badge light badge-success">Successful</span>
									<span class="badge light badge-success">Successful</span>*@



								</td>

								<td class="thh">
									<a data-bs-toggle="modal" data-bs-target="#exampleModalCenter" class="btn btn-info shadow btn-xs sharp me-1"><i class="fa fa-eye"></i></a>

									<a data-bs-toggle="modal" data-bs-target="#DuzmudurEkleModal" class="btn btn-warning shadow btn-xs sharp me-1"><i class="fas fa-pencil-alt"></i></a>
									<a class="btn btn-primary shadow btn-xs sharp me-1"><i class="fa fa-trash"></i></a>
									<a class="btn btn-dark shadow btn-xs sharp me-1"><i class="bi bi-key"></i></a>
									<a class="btn btn-light shadow btn-xs sharp me-1">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-lock" viewBox="0 0 16 16">
											<path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h5v-1a1.9 1.9 0 0 1 .01-.2 4.49 4.49 0 0 1 1.534-3.693C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Zm7 0a1 1 0 0 1 1-1v-1a2 2 0 1 1 4 0v1a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1v-2Zm3-3a1 1 0 0 0-1 1v1h2v-1a1 1 0 0 0-1-1Z" />
										</svg>
									</a>

								</td>
							</tr>

							<tr class="even">

								<td class="thh"><a href="#">Abdullah Köse</a></td>
								<td class="thh">02.06.2023</td>
								<td class="thh">Mersin</td>

								<td class="thh">Selcuk@gmail.com</td>
								<td class="thh">
									<span class="badge light badge-danger " style="width:100px;">Askıya Alındı</span>
									@*                                            <span class="badge light badge-success">Successful</span>
									<span class="badge light badge-success">Successful</span>*@




								</td>
								<td class="thh">
									<a data-bs-toggle="modal" data-bs-target="#exampleModalCenter" class="btn btn-info shadow btn-xs sharp me-1"><i class="fa fa-eye"></i></a>

									<a data-bs-toggle="modal" data-bs-target="#DuzmudurEkleModal" class="btn btn-warning shadow btn-xs sharp me-1"><i class="fas fa-pencil-alt"></i></a>
									<a class="btn btn-primary shadow btn-xs sharp me-1"><i class="fa fa-trash"></i></a>
									<a class="btn btn-dark shadow btn-xs sharp me-1"><i class="bi bi-key"></i></a>
									<a class="btn btn-light shadow btn-xs sharp me-1">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-lock" viewBox="0 0 16 16">
											<path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h5v-1a1.9 1.9 0 0 1 .01-.2 4.49 4.49 0 0 1 1.534-3.693C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Zm7 0a1 1 0 0 1 1-1v-1a2 2 0 1 1 4 0v1a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1v-2Zm3-3a1 1 0 0 0-1 1v1h2v-1a1 1 0 0 0-1-1Z" />
										</svg>
									</a>
								</td>
							</tr>

							<tr class="odd">

								<td class="thh"><a href="#">Abdullah Köse</a></td>
								<td class="thh">02.06.2023</td>
								<td class="thh">Mersin</td>

								<td class="thh">Selcuk@gmail.com</td>
								<td class="thh">
									<span class="badge light badge-success " style="width:100px;">Aktif Kullanıcı</span>
									@*                                            <span class="badge light badge-success">Successful</span>
									<span class="badge light badge-success">Successful</span>*@



								</td>

								<td class="thh">
									<a data-bs-toggle="modal" data-bs-target="#exampleModalCenter" class="btn btn-info shadow btn-xs sharp me-1"><i class="fa fa-eye"></i></a>

									<a data-bs-toggle="modal" data-bs-target="#DuzmudurEkleModal" class="btn btn-warning shadow btn-xs sharp me-1"><i class="fas fa-pencil-alt"></i></a>
									<a class="btn btn-primary shadow btn-xs sharp me-1"><i class="fa fa-trash"></i></a>
									<a class="btn btn-dark shadow btn-xs sharp me-1"><i class="bi bi-key"></i></a>
									<a class="btn btn-light shadow btn-xs sharp me-1">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-lock" viewBox="0 0 16 16">
											<path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h5v-1a1.9 1.9 0 0 1 .01-.2 4.49 4.49 0 0 1 1.534-3.693C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Zm7 0a1 1 0 0 1 1-1v-1a2 2 0 1 1 4 0v1a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1v-2Zm3-3a1 1 0 0 0-1 1v1h2v-1a1 1 0 0 0-1-1Z" />
										</svg>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" id="mudurEkleModal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Müdür Ekleme Penceresi</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal">
				</button>
			</div>
			<div class="modal-body">
				<div class="basic-form">
					<form action="#" id="mudurEkleForm" method="post">
						@Html.AntiForgeryToken()
						<div class="mb-3 row">
							<label class="col-sm-3 col-form-label" style="font-size:12.25px; line-height: 2.4rem;">İşe Başlama Tarihi</label>
							<div class="col-sm-9">
								<input type="date" class="form-control" name="IseBaslamaTarihi" required>
							</div>
						</div>
						<div class="mb-3 row">
							<label class="col-sm-3 col-form-label" style="font-size:12.25px; line-height: 2.4rem;">Şubesi</label>
							<div class="col-sm-9">
								<select id="subeArama" name="SubeID" required>
									<option>İzmir</option>
									<option>Mersin</option>
								</select>
							</div>
						</div>
						<div class="mb-3 row">
							<label class="col-sm-3 col-form-label" style="font-size:12.25px; line-height: 2.4rem;">Adı</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="Adi" required>
							</div>
						</div>
						<div class="mb-3 row">
							<label class="col-sm-3 col-form-label" style="font-size:12.25px; line-height: 2.4rem;">Soyadı</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="Soyadi" required>
							</div>
						</div>
						<div class="mb-3 row">
							<label class="col-sm-3 col-form-label" style="font-size:12.25px; line-height: 2.4rem;">Email Adresi</label>
							<div class="col-sm-9">
								<input type="email" class="form-control" name="Email" required>
							</div>
						</div>
						<div class="mb-3 row">
							<label class="col-sm-3 col-form-label" style="font-size:12.25px; line-height: 2.4rem;">Telefon</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="Telefon" maxlength="10" onkeypress="validate(event)" required>
							</div>
						</div>
						<div class="mb-3 row">
							<label class="col-sm-3 col-form-label" style="font-size:12.25px; line-height: 2.4rem;">Doğum Tarihi</label>
							<div class="col-sm-9">
								<input type="date" class="form-control" name="DogumTarihi" required>
							</div>
						</div>
						<div class="mb-3 row">
							<label class="col-sm-3 col-form-label" style="font-size:12.25px; line-height: 2.4rem;">TC Kimlik</label>
							<div class="col-sm-9">
								<input type="text" maxlength="11" onkeypress="validate(event)" class="form-control" name="IdentityNumber" required>
							</div>
						</div>
						<fieldset class="mb-3">
							<div class="row">
								<label class="col-form-label col-sm-3 pt-0" style="font-size:12.25px; line-height: 2.4rem;">Cinsiyet</label>
								<div class="col-sm-9">
									<input class="form-check-input" type="radio" name="Cinsiyet" value="Kadın" checked>
									<label class="form-check-label">
										Kadın
									</label>
									<input class="form-check-input" type="radio" name="Cinsiyet" value="Erkek">
									<label class="form-check-label">
										Erkek
									</label>
								</div>
							</div>
						</fieldset>
						<div class="mb-3 row">
							<label class="col-sm-3 col-form-label" style="font-size:12.25px; line-height: 2.4rem;">Adres</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="Adres" required>
							</div>
						</div>
						<div class="mb-3 row">
							<label class="col-sm-3 col-form-label" style="font-size:12.25px; line-height: 2.4rem;">Açıklama</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="Aciklama" required>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Kapat</button>
				<button type="button" class="btn btn-success" id="btnSubmit">Yeni Kayıt Yap</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" id="DuzmudurEkleModal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Müdür Düzeltme Penceresi</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal">
				</button>
			</div>
			<div class="modal-body">
				<div class="basic-form">
					<form action="#" id="mudurEkleForm" method="post">
						@Html.AntiForgeryToken()
						<div class="mb-3 row">
							<label class="col-sm-3 col-form-label" style="font-size:12.25px; line-height: 2.4rem;">İşe Başlama Tarihi</label>
							<div class="col-sm-9">
								<input type="date" class="form-control" name="IseBaslamaTarihi" required>
							</div>
						</div>
						<div class="mb-3 row">
							<label class="col-sm-3 col-form-label" style="font-size:12.25px; line-height: 2.4rem;">Şubesi</label>
							<div class="col-sm-9">
								<select id="DuzsubeArama" name="SubeID" required>
									<option>İzmir</option>
									<option>Mersin</option>
								</select>
							</div>
						</div>
						<div class="mb-3 row">
							<label class="col-sm-3 col-form-label" style="font-size:12.25px; line-height: 2.4rem;">Adı</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="Adi" required>
							</div>
						</div>
						<div class="mb-3 row">
							<label class="col-sm-3 col-form-label" style="font-size:12.25px; line-height: 2.4rem;">Soyadı</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="Soyadi" required>
							</div>
						</div>
						<div class="mb-3 row">
							<label class="col-sm-3 col-form-label" style="font-size:12.25px; line-height: 2.4rem;">Email Adresi</label>
							<div class="col-sm-9">
								<input type="email" class="form-control" name="Email" required>
							</div>
						</div>
						<div class="mb-3 row">
							<label class="col-sm-3 col-form-label" style="font-size:12.25px; line-height: 2.4rem;">Telefon</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="Telefon" maxlength="10" onkeypress="validate(event)" required>
							</div>
						</div>
						<div class="mb-3 row">
							<label class="col-sm-3 col-form-label" style="font-size:12.25px; line-height: 2.4rem;">Doğum Tarihi</label>
							<div class="col-sm-9">
								<input type="date" class="form-control" name="DogumTarihi" required>
							</div>
						</div>
						<div class="mb-3 row">
							<label class="col-sm-3 col-form-label" style="font-size:12.25px; line-height: 2.4rem;">TC Kimlik</label>
							<div class="col-sm-9">
								<input type="text" maxlength="11" onkeypress="validate(event)" class="form-control" name="IdentityNumber" required>
							</div>
						</div>
						<fieldset class="mb-3">
							<div class="row">
								<label class="col-form-label col-sm-3 pt-0" style="font-size:12.25px; line-height: 2.4rem;">Cinsiyet</label>
								<div class="col-sm-9">
									<input class="form-check-input" type="radio" name="Cinsiyet" value="Kadın" checked>
									<label class="form-check-label">
										Kadın
									</label>
									<input class="form-check-input" type="radio" name="Cinsiyet" value="Erkek">
									<label class="form-check-label">
										Erkek
									</label>
								</div>
							</div>
						</fieldset>
						<div class="mb-3 row">
							<label class="col-sm-3 col-form-label" style="font-size:12.25px; line-height: 2.4rem;">Adres</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="Adres" required>
							</div>
						</div>
						<div class="mb-3 row">
							<label class="col-sm-3 col-form-label" style="font-size:12.25px; line-height: 2.4rem;">Açıklama</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="Aciklama" required>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Kapat</button>
				<button type="button" class="btn btn-success" id="btnSubmit">Yeni Kayıt Yap</button>
			</div>
		</div>
	</div>
</div>

@section scripts{
	<script src="~/Content/vendor/datatables/js/jquery.dataTables.min.js" asp-append-version="true"></script>
	<script src="~/Content/vendor/jquery-nice-select/js/jquery.nice-select.min.js" asp-append-version="true"></script>
	<script src="~/Content/vendor/select2/js/select2.full.min.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
			$("#subeArama").select2({
				dropdownParent: $('#mudurEkleModal')
			});
			$("#DuzsubeArama").select2({
				dropdownParent: $('#DuzmudurEkleModal')
			});
            var mycrumb = $("#myBreadcrumb");
			$("#previousBreadcrumb").before(mycrumb);
			var table = $('#mudurlerTable').DataTable({
				searching: true,
				paging: true,
				select: false,
				info: false,
				lengthChange: false,
				language: {
					paginate: {
						next: '<i class="fa fa-angle-double-right" aria-hidden="true"></i>',
						previous: '<i class="fa fa-angle-double-left" aria-hidden="true"></i>'
					}
				}	
			});
		})
		function validate(event) {
			var theEvent = event || window.event;
			if (theEvent.type === 'paste') {
				key = event.clipboardData.getData('text/plain');
			} else {
				var key = theEvent.keyCode || theEvent.which;
				key = String.fromCharCode(key);
			}
			var regex = /[0-9]|\./;
			if (!regex.test(key)) {
				theEvent.returnValue = false;
				if (theEvent.preventDefault) theEvent.preventDefault();
			}
		}
    </script>
}