
@{
    ViewData["Title"] = "Sertifikalar";
}

@section head{
    <link href="~/Content/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet" asp-append-version="true">
    <link href="~/Content/vendor/jquery-nice-select/css/nice-select.css" rel="stylesheet" asp-append-version="true">
    <link href="~/Content/vendor/select2/css/select2.min.css" rel="stylesheet" asp-append-version="true" />
    <style>
        .card-body {
            padding: 0.3rem 1rem;
        }

        td {
            text-align: center;
        }

        .thh {
            text-align: center;
        }
    </style>
}

<div class="row page-titles" id="myBreadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a asp-controller="Sertifikalar" asp-action="Sertifikalar">Sertifikalar</a></li>
    </ol>
</div>




<div class="row" id="SertifikaField">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="col-sm-6">
                    <div style="display:flex;">
                        <div class="col-sm-5">
                            <select class="default-select wide">
                                <option value="All" selected="selected">Şube Seçiniz</option>
                                <option value="1">Mersin</option>
                            </select>
                        </div>
                        <div class="col-sm-5" style="margin-left:1rem;">
                            <select class="default-select wide">
                                <option value="All" selected="selected">Sinif Seçiniz</option>
                                <option value="1">11A</option>
                                <option value="2">12A</option>
                            </select>
                        </div>

                    </div>
                </div>
                <div class="card-toolbar">
                    <a href="#DosyaEkleModal" data-bs-target="#DosyaEkleModal" data-bs-toggle="modal" class="btn btn-secondary font-weight-bolder ">
                        <span class="svg-icon svg-icon-md">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                            </svg>
                        </span>Yeni Ekle
                    </a>
                    <a href="#SertifikaEkleModal" data-bs-target="#SertifikaEkleModal" data-bs-toggle="modal" class="btn btn-warning font-weight-bolder ">
                        <span class="svg-icon svg-icon-md">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-award" viewBox="0 0 16 16">
                                <path d="M9.669.864 8 0 6.331.864l-1.858.282-.842 1.68-1.337 1.32L2.6 6l-.306 1.854 1.337 1.32.842 1.68 1.858.282L8 12l1.669-.864 1.858-.282.842-1.68 1.337-1.32L13.4 6l.306-1.854-1.337-1.32-.842-1.68L9.669.864zm1.196 1.193.684 1.365 1.086 1.072L12.387 6l.248 1.506-1.086 1.072-.684 1.365-1.51.229L8 10.874l-1.355-.702-1.51-.229-.684-1.365-1.086-1.072L3.614 6l-.25-1.506 1.087-1.072.684-1.365 1.51-.229L8 1.126l1.356.702 1.509.229z" />
                                <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z" />
                            </svg>
                        </span>Sertifika Oluştur
                    </a>
                    <a href="#" class="btn btn-dark font-weight-bolder ">
                        <span class="svg-icon svg-icon-md">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer-fill" viewBox="0 0 16 16">
                                <path d="M5 1a2 2 0 0 0-2 2v1h10V3a2 2 0 0 0-2-2H5zm6 8H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1z" />
                                <path d="M0 7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2H2a2 2 0 0 1-2-2V7zm2.5 1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z" />
                            </svg>
                        </span>Yazdır
                    </a>
                </div>
            </div>
            <div class="card-body">
                <style>
                    #devamsizliklarimTable_filter {
                        margin-bottom: 0px;
                        padding-bottom: 0px;
                    }
                </style>
                <div class="table-responsive">
                    <table id="SertifikaTable" class="display" style="min-width: 845px">
                        <thead>
                            <tr>
                                <th class="thh">Ad Soyad</th>

                                <th class="thh">Eğitim Adı</th>
                                <th class="thh">Sınav Ort.</th>
                                <th class="thh">Devam Ort.</th>
                                <th class="thh">Tarih</th>
                                <th class="thh">Sertifika</th>
                                <th class="thh">Aksiyon</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                <td class="thh">MİKO USKAR</td>

                                <td class="thh">C#</td>
                                <td class="thh">50</td>
                                <td class="thh">80%</td>
                                <td class="thh">26/02/2020</td>
                                <td class="thh">Bolunmamaktadir</td>
                                <td class="thh">
                                    <div class="bootstrap-popover d-inline-block">
                                        <a href="#GozModal" data-bs-target="#GozModal" data-bs-toggle="modal" class="btn btn-info shadow btn-xs sharp me-1"><i class="fa fa-eye"></i></a>

                                    </div>
                                    @*                                    <a class="btn btn-warning shadow btn-xs sharp me-1"><i class="fas fa-pencil-alt"></i></a>
                                    *@                                    <a class="btn btn-primary shadow btn-xs sharp me-1"><i class="fa fa-trash"></i></a>

                                </td>
                            </tr>
                            <tr>
                                <td class="thh">MEHMET CAN</td>

                                <td class="thh">Java</td>
                                <td class="thh">80</td>
                                <td class="thh">90%</td>
                                <td class="thh">28/02/2020</td>
                                <td class="thh">
                                    <a href="javascript:void(0);">
                                        İndir
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-file-earmark-arrow-down" viewBox="0 0 16 16">
                                            <path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293V6.5z" />
                                            <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z" />
                                        </svg>

                                    </a>
                                </td>
                                <td class="thh">
                                    <div class="bootstrap-popover d-inline-block">
                                        <a href="#GozModal" data-bs-target="#GozModal" data-bs-toggle="modal" class="btn btn-info shadow btn-xs sharp me-1"><i class="fa fa-eye"></i></a>

                                    </div>
                                    @*                                    <a class="btn btn-warning shadow btn-xs sharp me-1"><i class="fas fa-pencil-alt"></i></a>
                                    *@                                    <a class="btn btn-primary shadow btn-xs sharp me-1"><i class="fa fa-trash"></i></a>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" id="DosyaEkleModal">
    <div class="modal-dialog modal-lg modal-dialogs">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Dosya Ekleme Penceresi</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>
            <div class="modal-body">
                <div class="basic-form">
                    <form action="#" id="subeEkleForm" method="post">
                        @Html.AntiForgeryToken()
                        <div class="mb-3 row">
                            <label class="col-sm-3 col-form-label" style="font-size:12.25px; line-height: 1rem;">Şubesi Seçiniz</label>
                            <div class="col-sm-9">
                                <select id="subeArama" name="SubeID" required>
                                    <option>İzmir</option>
                                    <option>Mersin</option>
                                </select>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-3 col-form-label" style="font-size:12.25px; line-height: 1rem;">Sinif Seçiniz</label>
                            <div class="col-sm-9">
                                <select id="sinArama" name="sinID" required>
                                    <option value="All" selected="selected">Tümünü Göster</option>
                                    <option value="1">11A</option>
                                    <option value="2">12A</option>
                                </select>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-3 col-form-label" style="font-size:12.25px; line-height: 1rem;">Öğrenci Seçiniz</label>
                            <div class="col-sm-9">
                                <select id="ogretmenArama" name="OgretmenID" required>
                                    <option>Selçuk Keskin</option>
                                    <option>Ali Armağan Kilisli</option>
                                </select>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-3 col-form-label" style="font-size:12.25px; line-height: 1rem;">Eğitim Adi</label>
                            <div class="col-sm-9">
                                <select id="egadiArama" name="egadiID" required>
                                    <option>Eğitim Seçiniz</option>
                                    <option>C#</option>
                                    <option>Java</option>

                                </select>
                            </div>
                        </div>



                        <div class="mb-3 row">
                            <label class="col-sm-3 col-form-label" style="font-size:12.25px; line-height: 2.4rem;">Sertifika Yükle</label>
                            <div class="col-sm-9">
                                <input type="file" class="form-control" name="Sinavin" placeholder="Not giriniz" required>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btnSubmit">Kaydet</button>

                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" id="SertifikaEkleModal">
    <div class="modal-dialog modal-lg modal-dialogs">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Dosya Ekleme Penceresi</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>
            <div class="modal-body">
                <div class="basic-form">
                    <form action="#" id="subeEkleForm" method="post">
                        @Html.AntiForgeryToken()
                        
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btnSubmit">Kaydet</button>

                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" id="GozModal">
    <div class="modal-dialog modal-lg modal-dialogs">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Dosya Ekleme Penceresi</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>
            <div class="modal-body">
                <div class="basic-form">
                    <form action="#" id="subeEkleForm" method="post">
                        @Html.AntiForgeryToken()

                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Content/vendor/datatables/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script src="~/Content/vendor/jquery-nice-select/js/jquery.nice-select.min.js" asp-append-version="true"></script>
    <script src="~/Content/vendor/select2/js/select2.full.min.js" asp-append-version="true"></script>
    <script src="~/Content/js/filepond.js" asp-append-version="true"></script>

    <script>


        $(document).ready(function () {
            $("#subeArama").select2({
                dropdownParent: $('#DosyaEkleModal')
            });
            $("#ogretmenArama").select2({
                dropdownParent: $('#DosyaEkleModal')
            });
            $("#egadiArama").select2({
                dropdownParent: $('#DosyaEkleModal')
            });
            $("#sinArama").select2({
                dropdownParent: $('#DosyaEkleModal')
            });
            var mycrumb = $("#myBreadcrumb");
            $("#previousBreadcrumb").before(mycrumb);
            var table = $('#SertifikaTable').DataTable({
                searching: true,
                paging: true,
                select: false,
                info: false,
                lengthChange: false,
                language: {
                    paginate: {
                        next: '<i class="fa fa-angle-double-right" aria-hidden="true"></i>',
                        previous: '<i class="fa fa-angle-double-left" aria-hidden="true"></i>'
                    }
                }
            });
        })
    </script>
}